* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ff6600;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.container h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.container h2 {
  font-size: 1.0rem;
  font-weight: 100;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 5px 10px;
  color: #333;
}

.container h3
{
  font-size: 1.0rem;
  font-weight: 100;
  margin-bottom: 20px;
  background-color: #333;
  padding: 5px 10px;
  color: #fff;
}